head
  title SESTOPIA - TEAM E
  link(rel='stylesheet' href='./stylesheets/style.css')
  link(rel='stylesheet' href='./stylesheets/page-404.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
.hideFadeUp.hideFade
.hideFadeDown.hideFade

.title
  .logoContainer
    .jkl 
      h1 SETOPIA
  h2 Oops! 404 Page not found!
  a(href='/index.html') Click here to go back to the SESTOPIA!

