/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #1A1A1A;
}

div.mainContent {
    height: 100vh;
}

.mainHeader {
    /* background-color: red; */
    height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.logoContainer {
    width: 50%;
    height: 100%;
    /* background-color: black; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logoContainer h2 {
    /* font: Medium 18px/21px Futura Md BT; */
    font-size: 1.5em;
    letter-spacing: 6.07px;
    color: #1A1A1A;
    text-transform: uppercase;
    margin-left: 20%;
}

.menuItems {
    height: 100%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.menuItems ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-right: 20%;
    justify-content: center;
    align-items: center;
}

.menuItems ul li {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 14px 16px;
    white-space: nowrap;
    font: Medium 18px/21px Futura Md BT;
    letter-spacing: 0px;
    color: #1A1A1A;
    align-items: center;
}

@media only screen and (max-width: 960px) {
    .logoContainer {
        width: 100%;
        height: 100%;
    }
    .mainHeader {
        display: block;
        text-align: center;
        height: 10vh;
    }
    .logoContainer h2 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .menuItems {
        width: 100%;
        height: auto;
        justify-content: center;
    }
    .menuItems ul {
        display: block;
        width: 100%;
        margin-right: 0;
    }
}

header {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.hideFade {
    width: 100%;
    height: 50vh;
}

.hideFadeDown {
    position: fixed;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#FBF2E5));
    background: -o-linear-gradient(top, transparent 0%, #FBF2E5 100%);
    background: linear-gradient(to bottom, transparent 0%, #FBF2E5 100%);
    z-index: 30;
    /* background: linear-gradient(to bottom, transparent 0%, black 100%); */
}

.hideFadeUp {
    position: fixed;
    background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#FBF2E5));
    background: -o-linear-gradient(bottom, transparent 0%, #FBF2E5 100%);
    background: linear-gradient(to top, transparent 0%, #FBF2E5 100%);
    z-index: 30;
    /* background: linear-gradient(to top, transparent 0%, black 100%); */
}

.splide {
    max-height: 100vh;
    /* top:30vh; */
}

.memberItem {
    /* background-color: red; */
    height: 33vh;
    width: 100%;
    text-align: center;
    line-height: 33vh;
    letter-spacing: 0px;
    color: #363636;
    /* color: darken(red); */
    /* font-size: 7em; */
    -webkit-text-stroke: black;
    color: white;
    -webkit-text-stroke-width: 2px;
}

.mouseScrollIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    right: 0%;
    bottom: 5%;
    z-index: 101;
}

.memberInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* max-width: 700px; */
    align-self: center;
}

.memberInfo h1 {
    font-size: 6.5em;
    -webkit-text-stroke: black;
    color: white;
    -webkit-text-stroke-width: 2px;
}

.memberInfo.is-active h1 {
    font-size: 7.5em;
    color: #363636;
    -webkit-text-stroke-width: 0px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.memberInfo h2 {
    display: none;
}

.memberInfo.is-active h2 {
    display: block;
    font-size: .9em;
}

.memberInfo h3 {
    display: none;
}

.memberInfo.is-active h3 {
    display: block;
    color: #101010;
    font-size: .9em;
}

.testme {
    position: fixed !important;
    right: 45px !important;
    left: unset !important;
    z-index: 300 !important;
}

.splide__arrow {
    display: none !important;
}

.custom-prev {
    top: 45vh !important;
}

.custom-next {
    top: 55vh !important;
}

.scrollIcon {
    height: 100%;
    width: 20%;
}


/* Style the search field */

div.search-group {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    transition: all 0.5s;
}

div.search-group input[type=text] {
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 160px;
    background: #FBF2E5;
    transition: all 0.5s;
}


/* Style the submit button */

div.search-group button {
    float: left;
    width: 40px;
    padding: 5px;
    background: #000000;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
    transition: all 0.5s;
}

div.search-group button:hover {
    background: #3d464e;
}


/* Clear floats */

div.search-group::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (min-width: 961px) {
    div.search-group:hover input[type=text] {
        width: 260px;
        background: #ffffff;
    }
}

@media only screen and (max-width: 960px) {
    div.search-group form input[type=text] {
        width: 100%;
        box-sizing: content-box;
    }
    div.search-group {
        width: 100%;
        justify-content: center;
    }
    form {
        width: 100%;
        display: flex;
    }
    #about {
        text-align: right;
    }
}


/* queries */

@media only screen and (max-width: 1600px) {
    .mouseScrollIcon {
        right: 1%;
        bottom: 5%;
        z-index: 101;
    }
    .memberInfo h1 {
        font-size: 3em;
    }
    .memberInfo.is-active h1 {
        font-size: 4em;
    }
}


/* queries */

@media only screen and (max-width: 960px) {
    .mouseScrollIcon {
        right: 1%;
        bottom: 5%;
        z-index: 101;
    }
    .memberInfo h1 {
        font-size: 0.5em;
    }
    .memberInfo.is-active h1 {
        font-size: 1.5em;
    }
}