*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container{
  height: 100vh;
  display: grid;
  grid-template-areas:
      "header header header"
      "nav nav responsibility" 
      "footer footer footer";
  grid-template-rows: 200px 1fr 60px;
}

.grid-item-1{
  grid-area: header;
  justify-self: center;   
  align-self: center; 
}

.grid-item-2{
  grid-area: nav;
}

.grid-item-3{
  grid-area: responsibility;
}

.grid-item-4{
  grid-area: footer;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.name{
  font-size: 12px;
}

.spacer {
  padding-top: 200px;
  padding-bottom: 40px;
  padding-right: 10px;
}

.spacer1{
  padding-top: 100px;
}

.about{
  /* top: -50px; */
  text-align: center;
  padding-left: 0px;
  z-index: 10;
  width: 100%;
  margin-bottom:100px;
  /* height: calc(20vh + 50px); */
  /* height: 369px; */
  /* line-height: 1vh; */
  font-size: 150px;
  text-transform: uppercase;
  font: Medium 319px/382px Futura Md BT;
  letter-spacing: 0px;
  color: #363636;        
}

.grid-container{
  
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#FBF2E5)); 
  background: -o-linear-gradient(top, transparent 0%, #FBF2E5 100%);
  background: linear-gradient(to bottom, transparent 0%, #FBF2E5 100%);
  padding: 4em;

}

#inline{
  width: 100;
  height:auto;
  display: flex;
}

#left{
  width: 50%;
  height: 100%;
  margin: 10px;
}

#right{
  width: 50%;
  height: 100%;
  margin: 10px;;
}

.grid-item-4{
  background-color: #FBF2E5 100%;
}

.name1{
  font-size: 14;
}

@media screen and (max-width: 860px){
  .grid-item-1{
      grid-column: span 6;
  }

  .about{
    font-size: 60px;
  }

  .grid-item-2{
      grid-row: 3;
      grid-column: span 6;
  }

  .grid-item-3{
      grid-column: span 12;
  }
}