* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about{
    /* top: -50px; */
    text-align: center;
    padding-left: 0px;
    z-index: 10;
    width: 100%;
    margin-bottom:100px;
    /* height: calc(20vh + 50px); */
    /* height: 369px; */
    /* line-height: 1vh; */
    font-size: 150px;
    text-transform: uppercase;
    font: Medium 319px/382px Futura Md BT;
    letter-spacing: 0px;
    color: #363636;        
}

.container-fluid{
    
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#FBF2E5)); 
    background: -o-linear-gradient(top, transparent 0%, #FBF2E5 100%);
    background: linear-gradient(to bottom, transparent 0%, #FBF2E5 100%);

}

.name{
    font-size: 12px;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }
.spacer {
    padding-top: 80px;
    padding-bottom: 40px
}

.container {
    @media (max-width: @screen-xs-min) {
      font-size: 10px;
    }
  
    @media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
      font-size: 30px;
    }
  
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
      font-size: 50px;
    }
  
    @media (min-width: @screen-md-min) {
      font-size: 100px;
    }
  }



