/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    
    margin: 0;
    padding: 0;
}

div.mainContent{


   height: 100vh;

}

.mainHeader{
    /* background-color: red; */
    height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.logoContainer {

    width: 50%;
    height: 100%;
    /* background-color: black; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;

    
}
.logoContainer h2{

    font: Medium 18px/21px Futura Md BT;
    letter-spacing: 6.07px;
    color: #1A1A1A;
    text-transform: uppercase;
    margin-left: 20% ;
    

}


.menuItems{

    height: 100%;
    width: 50%;

}

.menuItems{

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;

}

.menuItems ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 20%;
    

}

.menuItems ul li{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 14px 16px;
    white-space: nowrap;
    font: Medium 18px/21px Futura Md BT;
    letter-spacing: 0px;
    color: #1A1A1A; 

}
header{

    position: fixed;
    width: 100%;
    z-index: 100;

}




.hideFade{

    width: 100%;
    height: 50vh;
}
.hideFadeDown {
    position: fixed;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#FBF2E5));
    background: -o-linear-gradient(top, transparent 0%, #FBF2E5 100%);
    background: linear-gradient(to bottom, transparent 0%, #FBF2E5 100%);
    z-index: 30;

    /* background: linear-gradient(to bottom, transparent 0%, black 100%); */

}

.hideFadeUp{

    position: fixed;
    background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#FBF2E5));
    background: -o-linear-gradient(bottom, transparent 0%, #FBF2E5 100%);
    background: linear-gradient(to top, transparent 0%, #FBF2E5 100%);
    z-index: 30;
    /* background: linear-gradient(to top, transparent 0%, black 100%); */

}



.splide {
    max-height: 100vh ;
    /* top:30vh; */
}
.test33{
    /* background-color: red; */
    height: 33vh;
    width: 100%;
    text-align: center;
    line-height: 33vh;
    letter-spacing: 0px;
    color: #363636;
    /* color: darken(red); */
    font-size: 8em;
    -webkit-text-stroke: black;
    color: white;
    -webkit-text-stroke-width: 2px;
}


.mouseScrollIcon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 101;
}

.test33.is-active{
    font-size: 9em;    
    color: #363636;
    -webkit-text-stroke-width: 0px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}



.testme     {
    position: fixed !important;
    position: fixed !important;
    right: 45px !important;
    left: unset !important;
    z-index: 300 !important;
}
.custom-prev{
    top: 45vh !important;
}

.custom-next{
    top: 55vh !important;
}
